@media screen and (max-width: 500px) {
  #mobileMenuContainer {
    width: 90%;
    background-color: hsl(257, 27%, 26%);
    color: #ffffff;
    margin: 20px auto;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    transition: width 2s ease-in;
    z-index: 100;
  }
  .mobileMenuLinksContainer {
    flex-direction: column;
    text-align: center;
    height: 100%;
    justify-content: center;
  }
  .mobileMenuLink {
    text-align: center !important;
    height: 10px;
    margin: 10px auto;
    padding: 15px;
    align-items: center;

    font-weight: bold;
  }
  .mobileMenuLink:nth-of-type(3) {
    padding-bottom: 50px;
    text-align: center;

    display: block;
  }

  .mobileMenuLink:nth-of-type(3)::after {
    position: absolute;
    left: 10%;
    content: " ";
    display: block;
    height: 40px;
    border-bottom: 0.2px solid hsl(0, 0%, 75%);
    width: 80%;
    opacity: 0.4;
  }

  .mobileMenuLink:nth-of-type(5) {
    border-radius: 10px;
    background-color: hsl(180, 66%, 49%);
    width: 80%;

    text-align: center;
    display: block;
  }
}

@media screen and (min-width: 0px) and (max-width: 375px) {
  #mobileMenuContainer {
    height: 60vh;
  }
  .mobileMenuLink:nth-of-type(5) {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 376px) and (max-width: 413px) {
  #mobileMenuContainer {
    height: 45vh;
  }
  .mobileMenuLink {
    font-size: 20px;
  }
  .mobileMenuLink:nth-of-type(5) {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 414px) and (max-width: 501px) {
  #mobileMenuContainer {
    height: 50vh;
  }
  .mobileMenuLink:nth-of-type(5) {
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 501px) {
  #mobileMenuContainer {
    display: none;
  }
}
